@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
:root {
    --primary-color: #87BBA2;
    --secondary-color: #55828B;
    --accent1-color: #C5E7E2;
    --accent2-color: #364958;
  
    --heading-font: 'Merriweather', serif;
    --paragraph-font: 'Merriweather', serif;
  
    --nav-background-color: #55828B;
    --nav-link-color: #111;
    --nav-hover-link-color: #111;
    --nav-hover-background-color: #C5E7E2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    color: #87BBA2;
    color: var(--secondary-color);
}

p {
    font-family: 'Merriweather', serif;
    color: #111;
    padding: 25px;
    font-size: 16px;
}

a.sociallinks {
    text-decoration: none;
}

a {
    color: #87BBA2;
}

body {
    max-width: 960px;
    padding: 20px;
}

.hero {
    position: relative;
    width: 100%;
    height: 600px;
    background: url('images/wwr4.jpg') no-repeat center center/cover;
}

.hero h1 {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 900px;
    padding: 10px;
    background-color: #C5E7E2;
}

.hero image {
    position: relative;
}

article {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    padding: 12px;
    background-color: #C5E7E2;
    opacity: 0.80;
}

article image {
    float: right;
    max-width: 50%;
    height: auto;
}

.history {
    background-color: #C5E7E2;
    padding: 50px 0;
}
  
.history h2 {
    font-family: 'Merriweather', serif;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--primary-color);
}
  
.history p {
    color: #87BBA2;
}
  
.adventure {
    padding: 50px 0;
}
  
.adventure h2 {
    font-family: 'Merriweather', serif;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--primary-color);
}
  
.adventure img {
    width: 20%;
    margin: 10px;
}

footer {
    background-color: #C5E7E2;
    padding: 50px 0;
    color: #87BBA2;
}
  
footer p {
    text-align: center;
}
  
footer img {
    width: 30px;
    margin: 0 10px;
}