@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poiret+One&display=swapLinks to an external site.');


#contentblock {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background: #B5C3BE;
}

/*Header*/

header {
    
    background-color: #5E6E5F;
    opacity: 1;
    display: grid;
    grid-template-columns: 150px auto;
    text-align: center;
    max-height: 90px;
    
}

.logo{
    width: 80px;
}

#logo_link{
    padding: auto auto;
    justify-self: center;
    align-self: center;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a:hover{
    background-color: #B5C3BE;
    color: white;
}

/*Hero Section*/

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    
}

#hero-msg h1 {
    color: white;
    text-align: center;
    font-size: 50px;
}

#hero-img{
    width: 100%;
    opacity: .5;
}

/*Resume and Introduction*/

.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lauraimg {
    grid-column: 1/2;
    align-self: start;
}

.msg {
    grid-column: 2/3;
    max-width: 600px;
    max-height: 225px;
    align-self: start;
    display: block;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.flyerimg {
    grid-column: 1/2;
}

.page1card {
    grid-column: 2/3;
    display: block;
}

.gameimg {
    grid-column: 3/4;
}

.page2card {
    grid-column: 4/5;
    display: block;
}


/*Footer*/

footer, .social, img{
    padding-top: 15px;
}

footer {
    background-color: #5E6E5F;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: white;
}

footer a:hover{
    color: white;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}